.title {
  font-size: 15px;
  text-align: center;
}

.text-orange {
  color: #ff8000!important;
}

.margin-bottom-10 {
  margin-bottom: 10px!important;
}

.margin-bottom-15 {
  margin-bottom: 15px!important;
}

.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.text-bold {
  font-weight: bold!important;
}

.vertical-align-top {
  vertical-align: top!important;
}

.width5 {
  width: 5%;
}

.width9 {
  width: 9%;
}

.width10 {
  width: 10%;
}

.width12 {
  width: 12%;
}

.width14 {
  width: 14%;
}

.width15 {
  width: 15%;
}

.width16 {
  width: 16%;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width30 {
  width: 30%;
}

.width35 {
  width: 35%;
}

.width40 {
  width: 40%;
}

.width48 {
  width: 48%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.width80 {
  width: 80%;
}

.width100 {
  width: 100%;
}

.margin-top-10 {
  margin-top: 10px;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.vertical-align-middle {
  vertical-align: middle!important;
}

.text-gray {
  color: #949494!important;
}

.text-color-555 {
  color: #555!important;
}

.text-light-gray {
  color: #b9b7b7!important;
}

.width-10 {
  width: 10%!important;
}

.width-11 {
  width: 11%!important;
}

.width-12 {
  width: 12%!important;
}

.width-14-2858 {
  width: 14.2858%!important;
}

.width-15 {
  width: 15%!important;
}

.width-20 {
  width: 20%!important;
}

.width-25 {
  width: 25%!important;
}

.width-30 {
  width: 30%!important;
}

.width-40 {
  width: 40%!important;
}

.width-50 {
  width: 50%!important;
}

.width-60 {
  width: 60%!important;
}

.width-70 {
  width: 70%!important;
}

.header-title {
  font-weight: bold;
  font-size: 16px;
}

.subtitle-orange {
  color: #ff8000;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}

.logo-right {
  float: right;
  height: 80px;
}

.dark-shaded {
  background-color: #cfd4e0;
}

.darker-shaded {
  background-color: #C2C2C2!important;
}

.td-header {
  font-weight: bold!important;
  background-color: #fff!important;
  text-align: center!important;
}

.border-left-0 {
  border-left: 0!important;
}

.border-right-0 {
  border-right: 0!important;
}

.border-top-0 {
  border-top: 0!important;
}

.border-bottom-0 {
  border-bottom: 0!important;
}

.border-top-left-0 {
  border-top: 0!important;
  border-left: 0!important;
}

.border-left-bottom-0 {
  border-left: 0!important;
  border-bottom: 0!important;
}

.border-left-right-0 {
  border-left: 0!important;
  border-right: 0!important;
}

.td-section-dark-gray {
  background-color: #555;
  color: #fff;
}

.subDescriptions {
  margin-left: 15px;
  color: #565656;
  font-style: italic;
}

.subDescriptions-result {
  color: #565656;
}

.sub-lu {
  font-style: italic;
  color: #888;
  font-size: 13px!important;
  /* margin-top: 5px; */
}

.td-subsection {
  background-color: #a9aaab!important;
  color: #fff!important;
}

.padding-top-2 {
  padding-top: 2px;
}