<div class="col-md-12 col-xs-12">
  <div class="col-md-12 col-xs-12 dv-header-container">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-8 col-xs-8" style="text-align: center;">
      <div class="dv-title">{{{this.title}}}</div>
      <div class="dv-subtitle">{{{this.subtitle}}}</div>
    </div>
    <div class="col-md-2 col-xs-2 dv-logo dv-logo-right"></div>
  </div>
</div>