<!-- PAGE 1 - SANITATION CHECKS & SHELL LIFE -->
<div class="dv-page-container col-md-12 col-xs-12">
  {{> header class="dv-first"}}
  
  <!-- KEY DRIVER -->
  <div class="dv-form col-md-12 col-xs-12 col-md-12 col-xs-12">
    <h6 class="text-bold">Key Driver and Associated Play(s)</h6>
    <table class="table table-striped table-bordered col-md-12 col-xs-12 tbl-forms">
      <tbody>
        <tr>
          <td class="width-20 td-title-orange">TASTE</td>
          <td class="width-20 td-title-orange">FRIENDLINESS</td>
          <td class="width-20 td-title-orange">SPEED</td>
          <td class="width-20 td-title-orange">ACCURACY</td>
          <td class="width-20 td-title-orange">CLEANLINESS</td>
        </tr>
        <tr>
          <td>&nbsp;{{tastePlayValue}}</td>
          <td>&nbsp;{{friendlinessPLayValue}}</td>
          <td>&nbsp;{{speedPlayValue}}</td>
          <td>&nbsp;{{accuracyPlayValue}}</td>
          <td>&nbsp;{{cleanlinessPlayValue}}</td>
        </tr>
      </tbody>
    </table>

    <table class="tblnoborder tbl-dt">
      <tbody>
        <tr>
          <td colspan="2" class="width-40 text-left text-bold padding-left-10">F2 - Dining Table</td>
          <td class="width-20 text-bold">System</td>
          <td class="width-20 text-bold">Rush Ready</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="dv-form col-md-12 col-xs-12 col-md-12 col-xs-12">
    <div class="title col-md-12 col-xs-12"></div>
    <table class="table table-striped table-bordered col-md-12 col-xs-12 tbl-forms">
      <thead>
          <tr>
            <td colspan="2" class="width-40 text-left text-bold dark-shaded"><!-- Overall Score: --> </td>
            <td colspan="2" class="width-30 text-left text-bold dark-shaded"> </td> <!-- Forecasting &amp; Staffing: -->
            <td colspan="2" class="width-30 text-left text-bold dark-shaded">ZOD: {{ZOD}}</td>
          </tr>
          <tr>
            <td colspan="2">Huddle Team</td>
            <td colspan="2">Daypart 1 - 3</td>
            <td colspan="2">Daypart 4 - 6</td>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="text-left">Ops Leader</td>
          <td colspan="2">{{dp1$forecastStaff_opsLeader1to3.reading}}</td>
          <td colspan="2">{{dp1$forecastStaff_opsLeader4to6.reading}}</td>
        </tr>
        <tr>
          <td colspan="2" class="text-left">Support Manager</td>
          <td colspan="2">{{dp1$forecastStaff_supportManagerOne1to3.reading}}</td>
          <td colspan="2">{{dp1$forecastStaff_supportManagerOne4to6.reading}}</td>
        </tr>
        <tr>
          <td colspan="2" class="text-left">Support Manager</td>
          <td colspan="2">{{dp1$forecastStaff_supportManagerTwo1to3.reading}}</td>
          <td colspan="2">{{dp1$forecastStaff_supportManagerTwo4to6.reading}}</td>
        </tr>
        <tr>
          <td colspan="6" class="dark-shaded text-bold"> Forecasting</td>
        </tr>
        <tr>
          <td class="width-15 text-bold">Forecast</td>
          <td class="width-15 text-bold">Projected</td>
          <td class="width-15 text-bold">Actual</td>
          <td class="width-15 text-bold">(+/-)</td>
          <td class="width-25 text-bold">Reason</td>
        </tr>
        <tr>
          <td class="text-left">Daily Forecast</td>
          <td>{{dp1$forecastStaff_forecastDailyProjected.reading}}</td>
          {{!-- <td>{{dp1$forecastStaff_forecastAdjusted.reading}}</td> --}}
          <td>{{dp1$forecastStaff_forecastDailyActual.reading}}</td>
          <td>{{dp1$forecastStaff_forecastDailyVariance.reading}}</td>
          <td>{{dp1$forecastStaff_forecastDailyReason.reading}}</td>
        </tr>
        <tr>
          <td class="text-left">Peak Hour</td>
          <td>{{dp1$forecastStaff_forecastProjected.reading}}</td>
          {{!-- <td>{{dp1$forecastStaff_forecastAdjusted.reading}}</td> --}}
          <td>{{dp1$forecastStaff_forecastActual.reading}}</td>
          <td>{{dp1$forecastStaff_forecastVariance.reading}}</td>
          <td>{{dp1$forecastStaff_forecastReason.reading}}</td>
        </tr>
        <tr>
          <td colspan="5" class="dark-shaded text-bold">Staffing</td>
        </tr>
        <tr>
          <td class="width-15 text-bold">Staffing</td>
          <td class="width-15 text-bold">Required</td>
          <td class="width-15 text-bold">Actual</td>
          <td class="width-15 text-bold">(+/-)</td>
          <td class="width-25 text-bold dark-shaded"></td>
        </tr>
        <tr>
          <td class="text-left">Peak Hour</td>
          <td>{{dp1$forecastStaff_staffingPeakHourRequired.reading}}</td>
          <td>{{dp1$forecastStaff_staffingPeakHourActual.reading}}</td>
          <td>{{dp1$forecastStaff_staffingPeakHourVariance.reading}}</td>
          <td class="dark-shaded"></td>
        </tr>
      </tbody>
    </table>

    <!-- Service Focus -->
    <table class="table table-striped table-bordered col-md-12 col-xs-12 tbl-forms">
      <thead>
        <tr>
          <td colspan="3" class="text-left text-bold dark-shaded">Drive-thru Speed of Service Focus</td>
          <td class="text-right text-bold dark-shaded">SoS Time</td>
          <td class="text-right text-bold dark-shaded">Record Cars: {{RecordCars}}</td>
        </tr>
        <tr>
          <td class="width-20">Goal / Actual</td>
          <td class="width-20">Greet</td>
          <td class="width-20">Window</td>
          <td class="width-20">Total Time</td>
          <td class="width-20"># Cars</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td rowspan="2">Daypart 2</td>
                  <td>G</td>
                </tr>
                <tr>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp2GoalGreet.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp2ActualGreet.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp2GoalWindow.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp2ActualWindow.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp2GoalTotalTime.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp2ActualTotalTime.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp2GoalCars.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp2ActualCars.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td rowspan="2">Daypart 3</td>
                  <td>G</td>
                </tr>
                <tr>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp3GoalGreet.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp3ActualGreet.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp3GoalWindow.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp3ActualWindow.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp3GoalTotalTime.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp3ActualTotalTime.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp3GoalCars.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp3ActualCars.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td rowspan="2">Daypart 4</td>
                  <td>G</td>
                </tr>
                <tr>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp4GoalGreet.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp4ActualGreet.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp4GoalWindow.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp4ActualWindow.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp4GoalTotalTime.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp4ActualTotalTime.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="noPadding">
            <table class="tblnoborder">
              <tbody>
                <tr>
                  <td class="border-bottom-1">&nbsp;{{dp1$speedOfService_greetDp4GoalCars.reading}}</td>
                </tr>
                <tr>
                  <td>&nbsp;{{dp1$speedOfService_greetDp4ActualCars.reading}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Huddle Satisfaction Commitments -->
    <table class="table table-striped table-bordered col-md-12 col-xs-12 tbl-forms">
      <thead>
        <tr>
          <td colspan="2" class="width-80">Huddle / Customer Satisfaction Commitments</td>
          <td class="width-20">Achieved</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="width-20 text-left text-bold">Ops Leader</td>
          <td class="width-70 text-left">{{dp1$customerSatisfaction_OpsLeader.reading}}</td>
          <td class="width-10">
            <img src="images/{{isAchieved dp1$customerSatisfaction_OpsLeaderAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">Support Mngr.</td>
          <td class="text-left">{{dp1$customerSatisfaction_SupportMgr1.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_SupportMgr1Achieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">Support Mngr.</td>
          <td class="text-left">{{dp1$customerSatisfaction_SupportMgr2.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_SupportMgr2Achieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">DR Team</td>
          <td class="text-left">{{dp1$customerSatisfaction_drTeam.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_drTeamAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">PUW Team</td>
          <td class="text-left">{{dp1$customerSatisfaction_PUWTeam.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_PUWTeamAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">Fries</td>
          <td class="text-left">{{dp1$customerSatisfaction_Fries.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_FriesAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">Grill</td>
          <td class="text-left">{{dp1$customerSatisfaction_Grill.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_GrillAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">Sandwiches</td>
          <td class="text-left">{{dp1$customerSatisfaction_Sandwiches.reading}}</td>
          <td>
            <img src="images/{{isAchieved dp1$customerSatisfaction_SandwichesAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
        <tr>
          <td class="text-left text-bold">LTO's</td>
          <td class="text-left">{{dp1$customerSatisfaction_LTO.reading}}</td>
          <td>
            <img src="images/{{isAchieved isAchieved dp1$customerSatisfaction_LTOAchieved.reading}}" onerror="this.onerror=null;this.style.display='none';" width="16" />
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="col-md-12 col-xs-12 dv-comments"><span class="span-comments">Comments: {{dop_note.value}}</span></div>
  </div>

    <!-- General Manager Signature -->
      <div class="row col-md-12 col-xs-12 dv-gm">
          <div class="col-md-9 col-xs-7"></div>
          <div class="col-md-3 col-xs-3 text-center pull-right width-50">
              <span class="span-gm-label">General Manager:</span>
              <div class="dv-gm-img">
                  <img class="margin-right0 img-gm" src="data:image/png;base64,{{managerVerified.managerSignature}}" onerror="this.onerror=null;this.src='images/not_available.png';" width="100"/>
              </div>
          </div>
      </div>
  </div>
</div>