<!-- HEADER -->
<div class="col-md-12 col-xs-12 padding-bottom-10 section-header {{class}}">
    <div class="dv-logo flex col-md-2 col-xs-2">
        <div class="vertical">
            <img src="images/{{logo}}.png" class="logo-left" onerror="this.onerror=null;this.style='display:none;';">
            <!-- <img src="images/logos/{{statusIcon}}.png" class="logo-left" onerror="this.onerror=null;this.src='images/logos/generic.jpg';"> -->
        </div>
    </div>
    <div class="col-md-8 col-xs-8 text-center">
        <div class="header-title">{{title}}</div>
        <div class="subtitle-orange">{{storeName}}</div>
        <div class="subtitle">{{date}}</div>
    </div>
    <div class="dv-logo col-md-2 col-xs-2">
        <img class="logo-right" src="images/PIMM%20Logo.png">
    </div>

    <div class="col-md-12 col-xs-12 divider" style="margin-top: 10px;"></div>
    {{!-- <div class="col-md-12 col-xs-12 divider"></div> --}}
</div>