.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.bordered-left {
  border-left: 1px solid #bebebe;
}

.bordered-bottom {
  border-bottom: 1px solid #bebebe;
}

.border-right {
  border-right: 1px solid #bebebe;
}

.border-none {
  border: 0;
}

.width-3 {
  width: 3%;
}

.width-7 {
  width: 7%;
}

.width-8-3 {
  width: 8.3%;
}

.width-11-5 {
  width: 11.5%;
}

.width-9-6 {
  width: 9.6%;
}
