.dv-header-container {
  margin-top: 5px;
}

.dv-title {
  font-size: 25px;
  font-weight: 100;
  color: #6d7072;
  text-align: center;
}

.dv-subtitle {
  font-size: 16px;
  color: #6d7072;
  font-weight: 400;
}

.dv-logo {
  background-repeat: no-repeat;
  background-size: cover;
}

.dv-logo-right {
  width: 55px;
  height: 55px;
  float: right;
  background-image: url('../images/pimm-logo.png');
}

.font10 {
  font-size: 10px;
}

.font9 {
  font-size: 9px;
}