@page {
    size: A4;
    margin: 0;
}

@media print {
  body {
      font-size: 9px!important;
      counter-reset: page 1;
  }

  .dv-page-container {
      /* min-height: 1056px!important; */
      /* padding-top: 0!important; */
      position: relative;
      page-break-after: always!important;
      width: 100%!important;
      height: 100%!important;
      /* margin-left: 2px!important; */
  }

  .dv-title-page {
    width: 100%!important;
    display: flex!important;
    align-items: center!important;
    justify-items: center!important;
  }
  
  /*
  .dv-page-container {
      position: relative;
      height:297mm!important;
      width:210mm!important;
      margin-left: 2px!important;
  }
  */
  
  .section-header {
      display: block!important;;
      padding-top: 20px!important;
  }
  
  /* table > tbody > tr:nth-of-type(odd):not(.tblnoborder) {
    background-color: #e7f0fa!important;
  }

  table tr, td, th {
      border: 1px solid #000;
      font-size: 9px!important;
      padding: 0!important;
  } */
  
  table thead tr td {
      padding: 3px!important
  }
  
  table tbody tr td {
      padding: 3px!important
  }

  table tfoot tr td {
      padding: 3px!important;
  }
  
  h2 {
      font-size: 15px!important;
  }
  
  h3 {
     font-size: 10px!important;    
  }
  
  h4 {
     font-size: 13px!important;    
  }
  
  h5 {
      font-size: 10px!important;
  }
  
  .logo-left {
      /* max-width:  90px!important; */
    max-width: 80px!important;
    max-height: 50px!important;
  }
  
  .logo-right {
      max-width: 45px!important;
  }
  
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e7f0fa!important;
  }
  
  .table td,
  .table th {
      background-color: inherit !important;
  }
  
  tr td.dark-shaded {
      background-color: #cfd4e0 !important;
  }
  
  .border1 {
      border: 1px solid #000;
  }
  
  .move-left-50 {
      margin-left: 50px!important;
  }

  .section-title {
      font-size: 10px!important;
  }

  .header-title, {
      font-size: 16px;
      font-weight: 500;
  }
  
  .subtitle-orange {
      color: #ff8000!important;
      font-size: 12px!important;
      font-weight: 400!important;
      /* margin-top: -5px!important; */
  }
  
  .subtitle {
      font-size: 12px!important;
      font-weight: 400!important;
      /* margin-top: -5px!important; */
  }

  .dv-not-available {
      display: flex;
      font: 30pt 'Arial Black'!important;
      color: #c2c2c2!important;
      text-align: center;
      justify-content: center;
      margin-top: 200px!important;
  }

  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
  }

  table.tblnoborder tr, td, th {
    border: 0!important;
  }

  table.tblProbe tbody tr, td, th {
    border: 0!important;
  } 

  .text-left {
      text-align: left!important;
  }
}
