body {
  font-size: 11px;
}

.dv-page-container {
  padding-top: 20px;
  padding-left: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.dv-header-details {
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

table tr td {
  font-size: 12px; 
}

.tbl-header-details td {
  padding: 5px;
}

.dv-labels {
  font-size: 11px;
  font-weight: bold;
  color: #6d7072;
  padding: 5px;
}

.dv-value {
  font-size: 11px;
  color: #6d7072;
  padding: 5px;
}

.dv-table-content {
  border-radius: 5px!important;
}

.tbl-report {
  border-radius: 5px!important;
}

.tbl-report thead tr td, .tbl-report tfoot tr td {
  color: #ffffff!important;
  background-color: #787d7f;
  text-align: center!important;
  vertical-align: middle!important;
}

.tbl-report tbody tr td {
  text-align: center!important;
}

.dv-table-content.cursor-pointer tbody tr td {
  cursor: pointer!important;
}

.tr-collapsible {
  padding: 0!important;
  margin: 0!important;
}

/* .tbl-accordion tbody tr td {
  width: 8.3%;
} */

.placehold {
  width: 14px;
  height: 14px;
  border-radius: 8px;
  background: #ff8000;
  color: white;
  line-height: 12px;
  font-size: 14px;
  font-weight: 900;
  margin: 2px auto;
}

.child {
  display:none;
}

.child-open {
  display:relative;
}