body {
    font-size: 9px;
}

.dv-page-container {
    padding-top: 20px;
    padding-left: 20px;
}

.divider {
    height: 2px;
    background-color: #000;
}

.title {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

table {
    font-size: 9px;
}

.td-title {
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}

table tr, td, th {
    font-size: 10px!important;
    border-color: #000!important;
    border-top-color: #000!important;
}

table {
    border-top-color: #000!important;
}

table thead tr td {
    background-color: #fff!important;
    text-align: center;
    font-weight: bold;
    vertical-align: middle!important;
}

table tbody tr td {
    vertical-align: middle!important;
}

.logo-left {
    width: 130px;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.text-left {
    text-align: left!important;
}

.text-bold {
    font-weight: bold;
}

.font-15  {
    font-size: 15px;
}

.dark-shaded {
    background-color: #cfd4e0!important;
}

.width-10 {
    width: 10%;
}

.width-14 {
    width: 14%;
}

.width-15 {
    width: 15%;
}

.width-16 {
    width: 16%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.dv-comments {
    font-size: 10px;
    margin-bottom: 20px;
}

.span-comments {
    font-weight: bold;
}

.dv-shift-notes {
    min-height: 30px;
    max-height: 30px;
    height: 30px;
}

.span-gm-label {
    font-weight: 600;
    float: left;
}

.dv-gm {
    margin-bottom: 20px;
}

/*
.dv-gm-img {
    border: 1px solid;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
}
*/

.dv-gm-img {
    border: 1px solid;
    margin-left: 10px;
    overflow: auto;
    width: 70%;
    float: right;
    margin-top: -10px;
}

.fLeft {
    float: left!important;
}

.fRight {
    float: right!important;
}

.border-bottom {
    border-bottom: 1px solid #000!important;
}

.noPadding {
    padding: 0!important;
}

.paddingLR5 {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.tblprobe {
    width: 100%!important;
}

.tblProbe tbody tr:first-child {
    border-bottom: 1px solid #000!important;
} 

.tblProbe tbody tr td {
    text-align: center!important;
    padding: 5px!important;
}

.tblnoborder {
    width: 100%;
}

.tblnoborder tbody tr td {
    padding: 8px 0!important;
    border: none!important;
    text-align: center;
}

.tblnoborder > tbody > tr > td.border-bottom-1 {
    border-bottom: 1px solid #000!important;
}

div.vertical {
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
}

.logo-left {
    float: left;
    max-height: 80px;
    object-fit: contain;
    width: auto!important;
}

.logo-right {
    float: right!important;
    max-height: 90px;
}

.header-title {
    font-size: 22px;
    font-weight: 500;
}
.subtitle-orange {
    color: #ff8000!important;
    font-size: 18px!important;
    font-weight: 400!important;
    margin-top: -5px!important;
}

.subtitle {
    font-size: 15px!important;
    font-weight: 400!important;
    margin-top: -5px!important;
}

.dv-title-page {
    display: none!important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center!important;
    justify-items: center!important;
}

.dv-splash {
    margin-top: -200px!important;
    width: 100%;
    text-align: center;
}

.splash-title {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.margin-top-10 {
    margin-top: 10px!important;
}

.section-header:not(.dv-first) {
    display: none;
}

.tbl-forms tbody > tr > td {
    text-align: center;
}

td[class='dark-shaded'] {
    background-color: #cfd4e0!important;
}

.background-white {
    background-color: #fff!important;
}

.background-lightBlue {
    background-color: #e7f0fa!important;
}

.td-title-orange {
    text-align: center;
    color: #ff8000!important;
    font-weight: bold;
}

.padding-left-10 {
    padding-left: 10px!important;
}

.tbl-dt tbody tr td {
    padding: 0!important;
    font-size: 12px!important;
}