<div class="dv-page-container container-fluid col-md-12 col-xs-12 dv-first">
  {{> header class="dv-first"}}

  {{#if schedules}}
    {{#each schedules}}
      <div class="col-md-12 col-xs-12 padding-bottom-10">
        <div class="title-box-orange">{{this.title}}</div>
        <table class="tbl-emp-sched table tbl-salmon col-md-12 col-xs-12 table-responsive">
          <thead>
            {{#if this.headerDays}}
              <tr>
                  {{#each this.headerDays}}
                    <td class="width-14-2858">
                      <div class="text-orange">{{this.name}}</div>
                      <div class="text-color-555 padding-top-2">{{this.date}}</div>
                    </td>
                  {{/each}}
              </tr>
            {{/if}}
          </thead>
          <tbody>
            <tr>
              {{#if this.schedules}}
                {{#each schedules}}
                  <td>
                    <div>{{this.timeIn}}</div>
                    <div>{{this.timeOut}}</div>
                  </td>
                {{/each}}
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
    {{/each}}
  {{/if}}
  </div>
</div>