<div class="dv-page-container container-fluid col-md-12 col-xs-12 dv-first">
  {{> header class="dv-first"}}

  <div class="col-md-12 col-xs-12 padding-bottom-10">
    <table class="tbl-emp-sched table tbl-salmon col-md-12 col-xs-12">
      <thead>
        {{#if headerDays}}
          <tr>
            <td class="width-30">
              <div class="text-orange">Employee Name</div>
            </td>
              {{#each headerDays}}
                <td class="width-10">
                  <div class="text-orange">{{this.name}}</div>
                  <div class="text-color-555 padding-top-2">{{this.date}}</div>
                </td>
              {{/each}}
          </tr>
        {{/if}}
      </thead>
      <tbody>
        {{#if employees}}
          {{#each employees}}
            <tr onClick="onClickEmployee('{{this.userId}}')">
              <td valign="middle" class="text-left">{{this.name}}</td>
              {{#each this.schedules}}
                <td>
                  <div>{{this.timeIn}}</div>
                  <div>{{this.timeOut}}</div>
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>