<div class="dv-page-container col-md-12 col-xs-12">
  {{> header title=title subtitle=subtitle}}
  
  <!-- HEADER DETAILS -->
  {{> headerDetails}}

  <!-- TABLE CONTENT -->
  <div class="dv-table-content cursor-pointer col-md-12 col-xs-12 margin-top-10">
    <table class="table table-bordered table-hover tbl-report col-md-12 col-xs-12">
      <thead>
        <tr>
          <td class="width-3" colspan="1" rowspan="2">&nbsp;</td>
          <td class="width-11-5" colspan="3" rowspan="2">Date</td>
          {{!-- <td colspan="7">Food Safety Compliance</td>
          <td colspan="5">Temperature Mgmt.</td> --}}

          {{#each headerTitles}}
            <td colspan={{this.cspan}}>{{this.title}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each headers}}
             <td class="font10">{{this}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr class="{{ClassToUse this.isParent}}">
            <td onclick="toggleItem(this, {{this.numOfChild}}, {{this.isParent}})">
              <div class="{{PlaceHoldToUseClass this.isParent}}">{{PlaceHoldToUse this.isParent}}</div>
            </td>
            <td colspan="3" onclick="sendOnClickActionForParent({{this.isParent}}, '{{../this.siteId}}', '{{this.title}}')">{{this.title}}</td>
            {{#each this.fslCompliant}}  
              <td onclick="sendOnClickActionForParent({{this.isParent}}, '{{../this.siteId}}', '{{this.title}}')">{{this}}</td>
            {{/each}}
          </tr>
        {{/each}}        
      </tbody>
      <tfoot>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">Total</td>
          {{#each total}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">Average</td>
          {{#each average}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
      </tfoot>
    </table>
  </div>
</div>