<div class="col-md-12 col-xs-12">
  <div class="dv-header-details col-md-12 col-xs-12" style="padding: 5px 0px;">
    <div class="col-md-6 col-xs-6 border-right">
      <div class="col-md-4 col-xs-4 dv-labels text-left  bordered-bottom">Company:</div>  
      <div class="col-md-8 col-xs-8 dv-value text-right  bordered-bottom">{{spid}}</div>  

      <div class="col-md-6 col-xs-4 dv-labels text-left">Total Number of Stores:</div>  
      <div class="col-md-6 col-xs-8 dv-value text-right">{{totalStores}}</div>  
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="col-md-4 col-xs-4 dv-labels text-left">Corporate Address:</div>  
      <div class="col-md-8 col-xs-8 dv-value text-right">{{address}}</div>  
    </div>
  </div>
</div>