<div class="dv-page-container col-md-12 col-xs-12">
  {{> header title=title subtitle=subtitle}}
  
  <!-- HEADER DETAILS -->
  {{> headerDetails}}

  <!-- TABLE CONTENT -->
  <div class="dv-table-content col-md-12 col-xs-12 margin-top-10">
    <table class="table table-bordered tbl-report col-md-12 col-xs-12">
      <thead>
        <tr>
          <td rowspan="2">{{header}}</td>
          <td rowspan="2"># Stores</td>
          {{#each headerTitles}}
            <td colspan={{this.cspan}}>{{this.title}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each headers}}
             <td class="font10">{{this}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr onclick="sendOnClickAction('{{../nextLvl}}', '{{this.id}}', '{{this.title}}')">
            <td>{{this.title}}</td>
            <td>{{this.numOfStores}}</td>
            {{#each this.fslCompliant}}
              <td>{{this}}</td>
            {{/each}}
          </tr> 
        {{/each}}

        <tr>
          <td style="border:none;" colspan="15">&nbsp;</td>
        </tr>  
        <tr>
          <td style="border:none;" colspan="15">&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Average</td>
          <td>&nbsp;</td>
          {{#each average}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
      </tfoot>
    </table>
  </div>
</div>